@charset "utf-8";
@import 'reset';

@mixin phone-portrait { 
  @media only screen 
  and (min-width : 320px) // or 213.4375em
  and (max-width : 667px) // or 41.6875em
  and (orientation : portrait) { @content; } 
}

@mixin phone-landscape { 
  @media only screen 
  and (min-width : 320px) // or 213.4375em
  and (max-width : 667px) // or 41.6875em
  and (orientation : landscape) { @content; } 
}

body {
  background-color: purple;

  ::selection {
    color: black; 
    background: yellow;
  }
}

/*____FONTS________________________*/

@font-face {
    font-family: GT-Walsheim-Bold;
    src: url(../fonts/GT-Walsheim-Bold.eot);
    src: url(../fonts/GT-Walsheim-Bold.ttf);
    src: url(../fonts/GT-Walsheim-Bold.woff);
}

@font-face {
    font-family: GT-Walsheim-Medium;
    src: url(../fonts/GT-Walsheim-Medium.eot);
    src: url(../fonts/GT-Walsheim-Medium.ttf);
    src: url(../fonts/GT-Walsheim-Medium.woff);
}

@font-face {
    font-family: GT-Walsheim-Regular;
    src: url(../fonts/GT-Walsheim-Regular.eot);
    src: url(../fonts/GT-Walsheim-Regular.ttf);
    src: url(../fonts/GT-Walsheim-Regular.woff);
}




/*____BASE TYPOGRAPHY________________________*/

h1 {
  font-weight: 100;
  font-size: 40px;
  color: #000;
  padding: 50px 20px 10px 20px;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: orange;
    transition: .4s ease;
  }

  @include phone-portrait {
    font-size: 28px;
  }

  @include phone-landscape {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}


h2 {
  font-family: GT-Walsheim-Regular;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 30px 10px;

  a {
    padding: 20px;
    transition: .5s ease;
    text-decoration: none;
    color: black;
  }

  a:hover, visited{
    background-color: rgba(144, 129,129,.2);
  }

  @include phone-portrait {
    font-size: 12px;
    padding: 10px;

    a {
      padding: 10px;
    }
  }

  @include phone-landscape {
    font-size: 12px;
    padding: 10px;

    a {
      padding: 10px;
    }
  }

}


h3 {
  font-family: GT-Walsheim-Medium;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;

  a {
    text-decoration: none;
    color: black;
    letter-spacing: .5px;
  }

  @include phone-portrait {
    font-size: 16px;
    line-height: 24px;
  }

}


p {
  font-family: GT-Walsheim-Regular;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 40px;

  @include phone-portrait {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 30px;
  }

  @include phone-landscape {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
  }

}


hr {
  border-bottom: 2px solid #000;
}

.bold {
  font-family: GT-Walsheim-Bold;
}


/*____LAYOUT________________________*/

.container {
  width: 420px;
  display: block;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 0;

  @include phone-portrait {
    width: 285px;
  }

  @include phone-landscape {
    width: 560px;
  }

}

.content { 
  z-index: 1;
  color: black;
  text-align: center;
  vertical-align: middle;
  background: rgba(255, 255, 255, .8);
  padding: 10px 10px 50px 10px;

  @include phone-portrait {
    /*background-color: red;*/
  }

  @include phone-landscape {
    /*background-color: yellow;*/
    padding-bottom: 15px;
  }

}

.photo__credit {
  width: 420px;
  display: block;
  left: 50%;
  bottom: 25px;
  vertical-align: bottom;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 0;
  text-align: center;

  @include phone-portrait {
    width: 285px;
  }

  @include phone-landscape {
    width: 560px;
    bottom: -7px;
  }
}


.photo__type--link {
  font-family: GT-Walsheim-Regular;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  text-decoration: none;

  @include phone-portrait {
    font-size: 11px;
  }

  @include phone-landscape {
    font-size: 11px;
  }
}

.photo__type--link:hover {
  color: black;
  text-decoration: none;
}


/*____MAIN NAVIGATION________________________*/


nav {
  padding: 30px 0 30px 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;

  @include phone-portrait {
    padding: 15px 0 15px 0;
    margin-bottom: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  @include phone-landscape {
    padding: 15px 0 15px 0;
    margin-bottom: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

}


.nav__main a {
  width: 100px;
  padding: 20px;
  color: black;
  text-decoration: none;

  @include phone-portrait {
    padding: 8px;
  }

  @include phone-landscape {
    padding: 8px;
  }

}

.nav__main a:hover, active {
  color: black;
  background-color: rgba(144, 129,129,.2);
  border-bottom: 1px solid black;
  text-decoration: none;
  transition: 1s ease;
}

.nav--selected {
  background-color: rgba(144, 129,129,.2);
}


/*____INFORMATION LAYOUT________________________*/


.info__block {
  padding: 20px 0 0px 0;

  @include phone-landscape {
    padding: 0px;
  }
}

.info--type{
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 20px;

  @include phone-landscape {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
  }
}

.info--type a {
  padding: 15px;
  color: black;
  text-decoration: none;

  @include phone-landscape {
    padding: 14px;
  }
}

.info--type a:hover, active, visited {
  background-color: rgba(144, 129,129,.2);
  text-decoration: none;
  color: black;
  transition: 1s ease;
}




/*____MENU LAYOUT________________________*/

.menu__title {
  font-family: GT-Walsheim-Bold;
  font-size: 24px;
  line-height: 20px;
  padding-bottom: 0;

  @include phone-portrait {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 0;
  }

  @include phone-landscape {
    font-size: 16px;
    padding-bottom: 0px;
  }

}

.menu__column {
  width: 50%;
  float: left;
  padding: 20px 0 0px 0;

  @include phone-portrait {
    width: 100%;
    padding-top: 0;
    padding-bottom: 10px;
  }

  @include phone-landscape {
    width: 100%;
    padding-top: 0;
    padding-bottom: 10px;
  }
}


.menu__names {
  padding: 10px 0 10px 0;
}


.menu__names a {
  font-family: GT-Walsheim-Regular;
  display: inline-block;
  width: 95%;
  padding: 10px 0 10px 0;
  color: black;
  text-decoration: none;

  @include phone-portrait {
    font-size: 16px;
    line-height: 30px;
    padding: 10px;
    display: inline;
  }

  @include phone-landscape {
    font-size: 14px;
    padding: 10px;
    display: inline;
  }
} 

.menu__names a:hover {
  color: black;
  background-color: rgba(144, 129,129,.2);
  transition: .5s ease;
}


.menu__contact {
  clear: both; 
  border-top: 2px solid #000;

  @include phone-portrait {
    border-top: 1px solid #000;
  }

  @include phone-landscape {
    border-top: 1px solid #000;
  }

}

/*____IMAGE GALLERY________________________*/

.bg__gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @include phone-portrait {
    
  }

  @include phone-landscape {
    
  }
}


.bg__gallery--img {
  min-width: 100%;
  min-height: 100%;
  display: block;
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  @include phone-portrait {
    background-attachment: scroll;
  }

  @include phone-landscape {
    background-attachment: scroll;
  }
}


.bg__gallery .white {
  background: white;
}

.bg__gallery .black {
  background: black;
}











