@charset "utf-8";
@import 'reset';

@mixin phone-portrait { 
  @media only screen 
  and (min-width : 320px) // or 213.4375em
  and (max-width : 667px) // or 41.6875em
  and (orientation : portrait) { @content; } 
}

@mixin phone-landscape { 
  @media only screen 
  and (min-width : 320px) // or 213.4375em
  and (max-width : 667px) // or 41.6875em
  and (orientation : landscape) { @content; } 
}

body {
  background-color: purple;

  ::selection {
    color: black; 
    background: yellow;
  }
}

/*____FONTS________________________*/

@font-face {
    font-family: GT-Walsheim-Bold;
    src: url(../fonts/GT-Walsheim-Bold.eot);
    src: url(../fonts/GT-Walsheim-Bold.ttf);
    src: url(../fonts/GT-Walsheim-Bold.woff);
}

@font-face {
    font-family: GT-Walsheim-Medium;
    src: url(../fonts/GT-Walsheim-Medium.eot);
    src: url(../fonts/GT-Walsheim-Medium.ttf);
    src: url(../fonts/GT-Walsheim-Medium.woff);
}

@font-face {
    font-family: GT-Walsheim-Regular;
    src: url(../fonts/GT-Walsheim-Regular.eot);
    src: url(../fonts/GT-Walsheim-Regular.ttf);
    src: url(../fonts/GT-Walsheim-Regular.woff);
}




/*____BASE TYPOGRAPHY________________________*/

h1 {
  font-family: GT-Walsheim-Bold;
  font-weight: 100;
  font-size: 800px;
  color: #FFF;
  padding: 50px 20px 10px 20px;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: orange;
    transition: .4s ease;
  }

  @include phone-portrait {
    font-size: 28px;
  }

  @include phone-landscape {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}


