@charset "utf-8";
@import 'reset';

@mixin phone-portrait { 
  @media only screen 
  and (min-width : 320px) // or 213.4375em
  and (max-width : 667px) // or 41.6875em
  and (orientation : portrait) { @content; } 
}

@mixin phone-landscape { 
  @media only screen 
  and (min-width : 320px) // or 213.4375em
  and (max-width : 667px) // or 41.6875em
  and (orientation : landscape) { @content; } 
}

body {
  background-color: #280e47;
  background-image: url(../images/circle.svg);
  background-repeat: all;
  background-size: 15px;

  ::selection {
    color: black; 
    background: yellow;
  }
}

/*____FONTS________________________*/

@font-face {
    font-family: GT-Walsheim-Bold;
    src: url(../fonts/GT-Walsheim-Bold.eot);
    src: url(../fonts/GT-Walsheim-Bold.ttf);
    src: url(../fonts/GT-Walsheim-Bold.woff);
}

@font-face {
    font-family: GT-Walsheim-Medium;
    src: url(../fonts/GT-Walsheim-Medium.eot);
    src: url(../fonts/GT-Walsheim-Medium.ttf);
    src: url(../fonts/GT-Walsheim-Medium.woff);
}

@font-face {
    font-family: GT-Walsheim-Regular;
    src: url(../fonts/GT-Walsheim-Regular.eot);
    src: url(../fonts/GT-Walsheim-Regular.ttf);
    src: url(../fonts/GT-Walsheim-Regular.woff);
}




/*____BASE TYPOGRAPHY________________________*/

h1 {
  font-family: GT-Walsheim-Bold;
  font-weight: 100;
  font-size: 100px;
  color: #2f105b;
  padding: 50px 20px 10px 20px;
  letter-spacing: -2px;
  text-shadow:-10px 10px black;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: orange;
    transition: .4s ease;
  }

  @include phone-portrait {
    font-size: 28px;
  }

  @include phone-landscape {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}


.spin {
  width: 805px; 
  height: 805px;    
  background: lime;
  text-align: center;
  padding: 0px;
  animation: spin 1s infinite linear, blinker .1s linear infinite;


  @include phone-portrait {
    width: 30px; 
    height: 30px; 
  }
}

@keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);} 
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.svg-animation-test {
  width: 100%;
  height: 100px;
  background-color: indigo;
}


.half {
  width: 50%;
  height: 800px;
  z-index: -1;
  left: 0;
/*  margin: 50px;*/
  background-color: black;
  position: absolute;


}

.penguin {
  border: 25px solid pink;
  border-image-source: url(../images/dancing-penguin.gif);
  border-image-slice: 25 25;
  border-image-repeat: round;
}

* {
  box-sizing: border-box;
}

.shadow {
  box-shadow:-10px 10px black;
}

.main-whatever {
  margin-left: 4%;
}

.left-bar {
  width: 5%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #1d043a;
}

.right-bar {
  width: 5%;
  height: 100%;
  right: 0;
  top: 0;
  position: fixed;
  background-color: #17052b;
}
