---
title: WE'RE A CREEP
---
<!-- <div class="half penguin shadow">
 <img src="images/circle2.svg">
 <img src="images/dancing-penguin.gif">
</div> -->
<div class="left-bar">
  <h1>E</h1>
</div>
<div class="right-bar">
  <h1>E</h1>
</div>
<div class="svg-animation-test">
  <object data="images/circle2.svg" type="image/svg+xml" width="100%"></object>
  <object data="images/circle1.svg" type="image/svg+xml" width="100%" z-index="-10"></object>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100">
    <defs>
      <style>#cls-1 {fill:#ff66ff;stroke-miterlimit:10;}</style>
    </defs>
    
    <circle id="cls-1" cx="50" cy="50" r="50"/>

      <animate 
        xlink:href="#cls-1"
        attributeName="cx"
        from="50"
        to="1000" 
        dur=".5s"
        begin="click"
        fill="freeze"
        values="50; 1000; 50"
        keyTimes="0; 0.5;  1"
        repeatCount="indefinite"
        end="5.5s"
        id="anim-right" />

      <animate 
        xlink:href="#cls-1"
        attributeName="cy"
        from="50"
        to="100" 
        dur=".5s"
        begin="click"
        fill="freeze"
        values="50; 100; 50"
        keyTimes="0; 0.5;  1"
        repeatCount="indefinite"
        end="5.5s"
        id="anim-right" />
  </svg> -->

</div>

<div class="half penguin">
</div>

<div class="main-whatever">
  <h1>Lost opportunities, lost possibilities, feelings we can never get back. That's part of what it means to be alive. But inside our heads - at least that's where I imagine it - there's a little room where we store those memories. A room like the stacks in this library. And to understand the workings of our own heart we have to keep on making new reference cards. We have to dust things off every once in awhile, let in fresh air, change the water in the flower vases. In other words, you'll live forever in your own private library.</h1>
</div>

